@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap);
* {
  margin: 0;
  padding: 0;
}

body {
  background: url(/img/bg.png) no-repeat;
  background-size: cover;
}

abbr {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: clamp(60px, 8vw, 90px);
  background-color: #FFFBFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0 clamp(20px, 5vw, 50px);
}
header .logo {
  font-family: "Inter", serif;
  font-weight: 700;
  font-size: clamp(20px, 3vw, 36px);
  color: #E1711D;
  letter-spacing: -1.73px;
}
header .logo span {
  color: #48464A;
}
header .menu {
  height: 100%;
  /* Меню занимает всю высоту header */
  display: flex;
  align-items: center;
  gap: clamp(30px, 5vw, 65px);
  /* Промежутки адаптивные */
}
header .menu .active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
header .menu .active a {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(18px, 3vw, 28px);
  color: #48464A;
  text-decoration: none;
  padding-top: 28px;
}
header .menu .active div {
  width: 100%;
  height: 5px;
  background-color: #E1711D;
}
header .menu .inactive a {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(18px, 3vw, 28px);
  color: #C9C5C9;
  text-decoration: none;
}
header .circles {
  display: flex;
  gap: clamp(20px, 5vw, 40px);
}
header .circles .notification {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(40px, 7vw, 70px);
  /* Адаптивная ширина */
  height: clamp(40px, 7vw, 70px);
  /* Адаптивная высота */
  background-color: #C9C5C9;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
header .circles .notification .icon {
  width: clamp(20px, 5vw, 40px);
  height: clamp(20px, 5vw, 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}
header .circles .notification .count {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(10px, 2vw, 14px);
  color: #FFFBFF;
  position: absolute;
  width: clamp(15px, 3vw, 30px);
  height: clamp(15px, 3vw, 30px);
  top: -5px;
  right: -5px;
  background-color: #E1711D;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
header .circles .profile img {
  cursor: pointer;
  width: clamp(40px, 7vw, 70px);
  height: clamp(40px, 7vw, 70px);
  border-radius: 50%;
}

.spinner {
  text-align: center;
  font-size: 18px;
  padding: 20px;
}

.empty-message {
  text-align: center;
  font-size: 18px;
  padding: 20px;
  color: grey;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 25px;
  gap: 40px;
  height: 80vh;
}
.content .popup {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(20px, 2vw, 24px);
  color: #48464A;
  position: absolute;
  z-index: 9999;
  right: 0px;
  top: 0px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  width: 500px;
  height: 100vh;
}
.content .popup .popup-title {
  padding: 20px;
  text-align: center;
}
.content .popup.show {
  display: block;
}
.content .notification-item {
  font-family: "Inter", serif;
  font-weight: 300;
  font-size: clamp(14px, 2vw, 18px);
  color: #48464A;
  padding: 30px;
  border-top: 1px solid #C9C5C9;
  border-bottom: 1px solid #C9C5C9;
  display: flex;
  gap: 10px;
  align-items: center;
}
.content .notification-item img {
  width: 40px;
}
.content .modal {
  font-family: "Inter", serif;
  font-weight: 300;
  font-size: clamp(14px, 2vw, 18px);
  color: #48464A;
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.content .modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.content .close-modal {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.content .notif-actions {
  padding-top: 20px;
}
.content p#modal-title {
  padding-bottom: 10px;
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(14px, 2vw, 18px);
  color: #48464A;
}
.content .accept-btn-modal {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 7px 14px;
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(12px, 2vw, 16px);
  color: #FFFBFF;
  background-color: #E1711D;
}
.content .decline-btn-modal {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 7px 14px;
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(12px, 2vw, 16px);
  color: #48464A;
  background-color: #C9C5C9;
}
.content .left-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  max-height: 800px;
}
.content .left-menu .search-hackathon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: #FFFBFF;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.content .left-menu .search-hackathon form {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.content .left-menu .search-hackathon input[type=text] {
  width: 100%;
  height: 28px;
  font-size: 17px;
  border: none;
  background-color: #FFFBFF;
}
.content .left-menu .search-hackathon input[type=text]:focus {
  outline: none;
  border: none;
}
.content .left-menu .search-hackathon button {
  border: none;
  background-color: #FFFBFF;
  cursor: pointer;
}
.content .left-menu .search-hackathon img {
  width: 20px;
  height: 20px;
}
.content .left-menu .filter-section {
  height: 100%;
  background: #FFFBFF;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.content .left-menu .filter-section .clear_filter_btn {
  font-family: "Inter", serif;
  font-weight: 800;
  font-size: clamp(12px, 2vw, 16px);
  color: #48464A;
  border: none;
  border-radius: 20px;
  background-color: #FFFBFF;
  cursor: pointer;
  padding: 7px 14px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 30px;
}
.content .left-menu .filter-section .clear_filter_btn:hover {
  background-color: #C9C5C9;
}
.content .left-menu .filter-section .filter-content {
  max-height: 15vh;
  overflow-y: auto;
}
.content .left-menu .filter-section .filter-group-list {
  display: flex;
  flex-direction: row;
  font-family: "Inter", serif;
  font-weight: 800;
  font-size: clamp(12px, 2vw, 16px);
  color: #48464A;
  gap: 8px;
}
.content .left-menu .filter-section select {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(10px, 2vw, 14px);
  color: #48464A;
  border: none;
}
.content .left-menu .filter-section select:focus {
  outline: none;
  border: none;
}
.content .left-menu .filter-section .filter-group,
.content .left-menu .filter-section .filter-group-list {
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
}
.content .left-menu .filter-section .filter-group:first-child label {
  font-family: "Inter", serif;
  font-weight: 800;
  font-size: clamp(12px, 2vw, 16px);
  color: #48464A;
}
.content .left-menu .filter-section .filter-group label {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(10px, 2vw, 14px);
  color: #48464A;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
}
.content .left-menu .filter-section .filter-group input[type=checkbox] {
  margin-right: 8px;
  width: 12px;
  height: 12px;
  accent-color: #E1711D;
  cursor: pointer;
}
.content .left-menu .filter-section .filter-title {
  font-family: "Inter", serif;
  font-weight: 800;
  font-size: clamp(12px, 2vw, 16px);
  color: #48464A;
  margin-bottom: 5px;
}
.content .left-menu .filter-section .disabled {
  color: #C9C5C9;
}
.content .hackathons-container,
.content .teams-container {
  background-color: #48464A;
  width: 70vw;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  overflow-y: auto;
  position: relative;
  box-shadow: inset 0px -4px 6.4px 0px rgba(0, 0, 0, 0.6);
  -ms-overflow-style: none;
  /* IE и Edge */
  scrollbar-width: none;
  /* Firefox */
  overflow-x: hidden;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.content .hackathons-container ::-webkit-scrollbar,
.content .teams-container ::-webkit-scrollbar {
  display: none;
}
.content .hackathons-container .card,
.content .teams-container .card {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(6px, 2vw, 10px);
  color: #48464A;
  background: #FFFBFF;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 330px;
  height: 460px;
}
.content .hackathons-container .card img,
.content .teams-container .card img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 200px;
}
.content .hackathons-container .card .card-text,
.content .teams-container .card .card-text {
  margin: 10px;
  height: 170px;
}
.content .hackathons-container .card a,
.content .teams-container .card a {
  text-decoration: none;
  color: #E1711D;
}
.content .hackathons-container .card p,
.content .teams-container .card p {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(8px, 2vw, 12px);
  color: #48464A;
  padding-top: 7px;
}
.content .hackathons-container .card .btn-find-team,
.content .teams-container .card .btn-find-team {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E1711D;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px auto;
}
.content .hackathons-container .card .btn-find-team img,
.content .teams-container .card .btn-find-team img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.content .log-in {
  background-color: #FFFBFF;
  border-radius: 20px;
  width: 450px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.content .log-in p {
  font-family: "Inter", serif;
  font-weight: 800;
  font-size: clamp(20px, 2vw, 24px);
  color: #48464A;
}
.content .log-in img {
  width: 25px;
  height: 25px;
}
.content .log-in .btn-log-in {
  font-family: "Inter", serif;
  font-weight: 600;
  font-size: clamp(14px, 2vw, 18px);
  color: #FFFBFF;
  border: none;
  border-radius: 20px;
  background-color: #0088cc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 24px;
  text-decoration: none;
}
.content .profile-info {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  width: 900px;
  background-color: #FFFBFF;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.content .rignt-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.content .rignt-menu-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.content .btn-create-team {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(20px, 2vw, 24px);
  color: #FFFBFF;
  border: none;
  border-radius: 20px;
  background-color: #E1711D;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px 14px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.content .btn-create-team img {
  width: 24px;
  height: 24px;
}
.content .my-teams-title {
  background-color: #48464A;
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(20px, 2vw, 24px);
  color: #FFFBFF;
  text-align: center;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.content .my-teams {
  background-color: #48464A;
  width: 500px;
  border-radius: 20px;
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: auto;
  position: relative;
  box-shadow: inset 0px -4px 6.4px 0px rgba(0, 0, 0, 0.6);
  -ms-overflow-style: none;
  /* IE и Edge */
  scrollbar-width: none;
  /* Firefox */
  overflow-x: hidden;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.content .profile-info-left {
  margin: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
}
.content .profile-info-left .view-profile-role {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(10px, 2vw, 14px);
  color: #48464A;
}
.content .profile-info-left .profile-name {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(20px, 2vw, 24px);
  color: #48464A;
}
.content .profile-info-left .profile-role label {
  padding-right: 5px;
  font-family: "Inter", serif;
  font-weight: 800;
  font-size: clamp(10px, 2vw, 14px);
  color: #48464A;
}
.content .profile-info-left .profile-role select {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(10px, 2vw, 14px);
  color: #48464A;
  border: solid 1px #C9C5C9;
  border-radius: 20px;
  padding: 5px 10px;
}
.content .profile-info-left .profile-role select:focus {
  outline: none;
  border: solid 1px #C9C5C9;
}
.content .profile-info-left .profile-about-you {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(10px, 2vw, 14px);
  color: #48464A;
  height: 100px;
  resize: none;
  border-radius: 20px;
  padding: 10px;
  border: solid 1px #C9C5C9;
}
.content .profile-info-left .profile-about-you:focus {
  border: solid 1px #C9C5C9;
  outline: none;
}
.content .profile-info-left .profile-save-btn {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(10px, 2vw, 14px);
  color: #FFFBFF;
  border: none;
  border-radius: 20px;
  background-color: #E1711D;
  cursor: pointer;
  padding: 5px 10px;
  width: 100px;
  display: none;
}
.content .profile-info-left .profile-intersting, .content .profile-info-left .skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
}
.content .profile-info-left .profile-intersting-title, .content .profile-info-left .skills-title {
  display: flex;
  align-items: center;
  gap: 5px;
}
.content .profile-info-left .profile-intersting-title p, .content .profile-info-left .skills-title p {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(16px, 2vw, 20px);
  color: #48464A;
}
.content .profile-info-left .profile-intersting-title img, .content .profile-info-left .skills-title img {
  width: 20px;
}
.content .profile-info-left .profile-intersting-title button, .content .profile-info-left .skills-title button {
  border: none;
  background-color: #FFFBFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .profile-info-left .profile-intersting-container, .content .profile-info-left .skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.content .profile-info-left .profile-intersting-item, .content .profile-info-left .skills-item {
  align-items: center;
  text-align: center;
  display: flex;
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(6px, 2vw, 10px);
  color: #48464A;
  padding: 4px 8px;
  border-radius: 20px;
  background-color: #C9C5C9;
}
.content .profile-info-left .profile-intersting-form {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFBFF;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(12px, 2vw, 16px);
  color: #48464A;
}
.content .profile-info-left .profile-intersting-checkbox {
  max-height: 300px;
  overflow-y: auto;
  width: 450px;
}
.content .profile-info-left .profile-intersting-checkbox label {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(10px, 2vw, 14px);
  color: #48464A;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  width: 400px;
  text-overflow: ellipsis;
}
.content .profile-info-left .profile-intersting-checkbox input[type=checkbox] {
  margin-right: 8px;
  width: 12px;
  height: 12px;
  accent-color: #E1711D;
  cursor: pointer;
}
.content .profile-info-left .profile-intersting-btn button {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px 10px;
  width: 100px;
}
.content .profile-info-left .profile-intersting-save-btn {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(10px, 2vw, 14px);
  color: #FFFBFF;
  background-color: #E1711D;
}
.content .profile-info-left .profile-intersting-close-btn {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(10px, 2vw, 14px);
  color: #48464A;
  background-color: #C9C5C9;
}
.content .profile-info-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
  width: 300px;
}
.content .profile-info-right .profile-img {
  border-radius: 20px;
  width: 210px;
}
.content .profile-info-right .profile-git {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;
}
.content .profile-info-right .profile-git .git-title {
  display: flex;
  align-items: center;
  gap: 5px;
}
.content .profile-info-right .profile-git .git-title p {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(16px, 2vw, 20px);
  color: #48464A;
}
.content .profile-info-right .profile-git .git-title img {
  width: 20px;
}
.content .profile-info-right .profile-git .git-title button {
  border: none;
  background-color: #FFFBFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .profile-info-right .profile-git .git-content {
  border-radius: 20px;
  padding: 10px;
  border: #C9C5C9 solid 1px;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
}
.content .profile-info-right .profile-git .git-content p {
  margin: 5px;
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(8px, 2vw, 12px);
  color: #48464A;
}
.content .profile-info-right .profile-git .git-content a {
  text-decoration: none;
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(8px, 2vw, 12px);
  color: #48464A;
}
.content .profile-info-right .profile-git .git-form {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFBFF;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(12px, 2vw, 16px);
  color: #48464A;
  border: solid 1px #C9C5C9;
}
.content .profile-info-right .profile-git .git-form input[type=text] {
  width: 100%;
  height: 28px;
  font-size: 17px;
  border: solid 1px #C9C5C9;
  border-radius: 10px;
  padding: 2px 4px;
  background-color: #FFFBFF;
}
.content .profile-info-right .profile-git .git-form input[type=text]:focus {
  outline: none;
  border: solid 1px #C9C5C9;
}
.content .profile-info-right .profile-git .git-form .git-btn button {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px 10px;
  width: 100px;
}
.content .profile-info-right .profile-git .git-form .git-save-btn {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(10px, 2vw, 14px);
  color: #FFFBFF;
  background-color: #E1711D;
}
.content .profile-info-right .profile-git .git-form .git-close-btn {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(10px, 2vw, 14px);
  color: #48464A;
  background-color: #C9C5C9;
}
.content .profile-info-right .profile-docs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .profile-info-right .file-upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(8px, 2vw, 12px);
  color: #48464A;
  cursor: pointer;
}
.content .profile-info-right .file-upload input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}
.content .profile-info-right .profile-docs form {
  display: flex;
  align-items: center;
  gap: 5px;
}
.content .profile-info-right .profile-docs form img {
  width: 20px;
}
.content .profile-info-right ul {
  width: 200px;
  border-radius: 20px;
  padding: 10px;
  border: #C9C5C9 solid 1px;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
}
.content .profile-info-right p {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(12px, 2vw, 16px);
  color: #48464A;
}
.content .profile-info-right ol {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(8px, 2vw, 12px);
  color: #48464A;
}
.content .profile-info-right a {
  text-decoration: none;
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(8px, 2vw, 12px);
  color: #48464A;
}
.content .teams-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 350px;
  background-color: #FFFBFF;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.content .teams-card .team-name {
  width: 100%;
  text-align: center;
  background-color: #E1711D;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.content .teams-card .team-name p {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(20px, 2vw, 24px);
  color: #FFFBFF;
  padding: 15px 30px;
}
.content .teams-card .team-info {
  padding-top: 5px;
  height: 180px;
  width: 100%;
  text-align: justify;
}
.content .teams-card p {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(8px, 2vw, 12px);
  color: #48464A;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.content .teams-card a {
  text-decoration: none;
  color: #E1711D;
}
.content .team-members {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFBFF;
  border: solid 2px #C9C5C9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 425px;
  height: 75px;
  border-radius: 20px;
  gap: 20px;
}
.content .team-members button {
  border: none;
  background-color: #FFFBFF;
  cursor: pointer;
}
.content .team-members img {
  width: 50px;
  height: 50px;
}
.content .btn-create-team {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(12px, 2vw, 16px);
  color: #FFFBFF;
  border: none;
  border-radius: 20px;
  background-color: #E1711D;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px 14px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.content .btn-create-team img {
  width: 20px;
  height: 20px;
}
.content .form-create-team.show {
  display: flex;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.content .form-create-team {
  display: none;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800px;
  background-color: #FFFBFF;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(12px, 2vw, 16px);
  color: #48464A;
  text-align: center;
  border: 1px solid #C9C5C9;
  height: 50vh;
}
.content .form-create-team textarea {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(10px, 2vw, 14px);
  color: #48464A;
  resize: none;
  border-radius: 20px;
  padding: 10px;
  border: solid 1px #C9C5C9;
  height: 100px;
}
.content .form-create-team textarea:focus {
  border: solid 1px #C9C5C9;
  outline: none;
}
.content .form-create-team input[type=text] {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(10px, 2vw, 14px);
  color: #48464A;
  border: solid 1px #C9C5C9;
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
}
.content .form-create-team input[type=text]:focus {
  border: solid 1px #C9C5C9;
  outline: none;
}
.content .form-create-team select {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(10px, 2vw, 14px);
  color: #48464A;
  border: solid 1px #C9C5C9;
  border-radius: 20px;
  padding: 5px 10px;
}
.content .form-create-team select:focus {
  outline: none;
  border: solid 1px #C9C5C9;
}
.content .form-create-team .form-team-members {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.content .form-create-team .form-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.content .form-create-team .form-member button {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(10px, 2vw, 14px);
  color: #48464A;
  border: none;
  border-radius: 20px;
  background-color: #FFFBFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 10px;
}
.content .form-create-team .form-member button:hover {
  background-color: #C9C5C9;
}
.content .form-create-team .form-member button:active {
  background-color: #d7d4d7;
}
.content .form-create-team .form-create-team-buttons {
  display: flex;
  justify-content: space-around;
}
.content .form-create-team button {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 7px 14px;
}
.content .form-create-team .form-create-team-close-button {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(12px, 2vw, 16px);
  color: #48464A;
  background-color: #C9C5C9;
}
.content .form-create-team .form-create-team-create-button {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(12px, 2vw, 16px);
  color: #FFFBFF;
  background-color: #E1711D;
}
.content .form-checklist {
  display: none;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #FFFBFF;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(12px, 2vw, 16px);
  color: #48464A;
  border: 1px solid #C9C5C9;
  height: 48vh;
}
.content .form-checklist .form-checklist-details {
  max-height: 450px;
  overflow-y: auto;
}
.content .form-checklist .form-checklist-details details {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.content .form-checklist .form-checklist-details details input[type=number] {
  width: 30px;
  margin-right: 10px;
}
.content .form-checklist .form-checklist-details details p {
  display: flex;
  gap: 2px;
  margin-bottom: 2px;
}
.content .form-checklist .form-checklist-details details input[type=checkbox] {
  width: 12px;
  height: 12px;
  accent-color: #E1711D;
  cursor: pointer;
}
.content .form-checklist button {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 7px 14px;
}
.content .form-checklist .form-cl-close-button {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(12px, 2vw, 16px);
  color: #48464A;
  background-color: #C9C5C9;
}
.content .form-checklist .form-cl-create-button {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(12px, 2vw, 16px);
  color: #FFFBFF;
  background-color: #E1711D;
}
.content .form-checklist .form-cl-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}